%%%-*-erlang-*-

{base_dir, "build"}.
{erl_opts, [warnings_as_errors]}.
{deps,
 [{e2,      {git, "git://github.com/gar1t/e2.git",         {branch, "master"}}},
  {psycho,  {git, "git://github.com/gar1t/psycho.git",     {branch, "master"}}},
  {erlydtl, {git, "git://github.com/erlydtl/erlydtl.git",  {branch, "0.11.1"}}}
 ]}.
{compiler_source_format, relative}.
